<div class="product-list">
  <h2>Our Products</h2>
  <div *ngIf="products.length; else noProducts" class="products-grid">
    <div *ngFor="let product of products" class="product-card">
      <a [routerLink]="['/products', product.id]" class="product-link">
        <h3 class="product-name">{{ product.name }}</h3>
      </a>
      <p class="product-description">{{ product.description }}</p>
      <p class="product-price">Price: {{ product.price | currency }}</p>
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>
  </div>
  <ng-template #noProducts>
    <p>No products available.</p>
  </ng-template>
</div>
